<div>
    <!-- header -->
    <nav class="navbar navbar-light bg-light ">
        <div class="container text-center p-2 ">
            <span class="mx-auto text-bold">Hi. You can choose a language now.</span>
        </div>
    </nav>
</div>



<div class="container h-100 mt-4">
    
    <!-- languages & theme -->
    <div class="row mb-3 justify-content-center mx-3">
        <!-- languages select -->
        <div class="col-auto col-lg-2 col-md-3 col-sm-3">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="languages-select">Languages</label>
                </div>
                <select class="languages-select" id="languages-select" #languagesSelect>
                    <option value="1">language01</option>
                    <option value="2">language02</option>
                    <option value="3">language03</option>
                </select>
            </div>
        </div>
        <!-- theme radio buttons -->
        <div class="col-auto col-lg-2 col-md-3 col-sm-3">
            <div class="btn-group btn-group-toggle btn-group-sm mx-auto" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                    theme01
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    theme02
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off">
                    theme03
                </label>
            </div>
        </div>
    </div>
    
    <!-- the code editor -->
    <div class="row mb-3">
        <div class="col">
            <div class="editor" #editor></div>
        </div>
    </div>

    <!-- run, clear & beautify buttons -->
    <div class="col-md-12 text-center">
    <div class="btn-group">
        <div class="">
            <button type="button" class="btn btn-dark btn-sm btn-block px-3 mx-3">
                Run
            </button>
        </div>
        <div class="">
            <button type="button" class="btn btn-primary btn-sm btn-block px-3 mx-3">
                <!--(click)="consoleCode()"-->
                Clear
            </button>
        </div>
        <div class="">
            <button type="button" class="btn btn-beautify btn-sm btn-block px-3 mx-3" (click)="Beautify()">
                Beautify
            </button>
        </div>
    </div>
    </div>

    <!-- output box -->
    <div class="row mt-3">
        <div class="col">
            <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
            <textarea class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
        </div>
    </div>
</div>